body{
  font-family:"Sura Sans";
  background-color: white;
}


.fondo{
background-color: #2d6df6;

}

.menu{
  background-image: url("../img/banner.jpg");
  background-position: center;
background-size:100%;
padding: 5%;
background-repeat: no-repeat;

}



.iconos{
  font-size: 20px;
  color: white;
}

.botones{
  background-color: white;
  color: #888b8d;
  font-weight: bolder;
  text-decoration: none;
  display: inline-block;
}

.botones:hover{
  background-color: #00aec7;
  color: white;
}

.policy{
  background-image: url("../img/Policy.jpg");
  background-position:center;
background-size: 100%;
padding: 10%;
background-repeat: no-repeat;
}

.general{
  background-image: url("../img/general.jpg");
  background-position:center;
background-size: 100%;
padding: 10%;
background-repeat: no-repeat;
}

.facturacion{
  background-image: url("../img/facturacion.jpg");
  background-position:center;
background-size: 100%;
padding: 10%;
background-repeat: no-repeat;
}

.sia{
  background-image: url("../img/SIA.jpg");
  background-position:center;
background-size: 100%;
padding: 8%;
background-repeat: no-repeat;
}

.venta{
  background-image: url("../img/Venta.jpg");
  background-position:center;
background-size: 100%;
padding: 8%;
background-repeat: no-repeat;
}

.card-title{
  color: #0033a0;
  font-weight: bold;
  text-align: center;
}

.card{
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-top: 20px;
  padding-left: 10px;
  margin: 10px;
  text-align: center;
}

.card-img-top{
margin: 20px;
}

.industrial{
  color: #888b8d;
font-weight: bold;
  text-align: center;
  ;
}